<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koniec Kwarantanny</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    Tutaj użytkownik będzie przeglądał artykuł, również frontend mile widziany. Mateusz
    <pre id="articlesPre">
        <div id="article">
            <h3 id="articleTitle">Article title</h3>
            <p id="articleDescription">Article description</p>
        </div>
    </pre>
    <script src="static/viewingArticle.js"></script>
</body>

</html>