<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koniec Kwarantanny</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        a {
            color: white;
        }
    </style>
</head>

<body>
    Tutaj jest do zrobienia strona główna z artykułami, system artykułów będzie zrobiony.
    Trzeba bedzie tylko ładnie wystylizować, Mateusz
    <div id="articles">
    </div>
    <script src="static/mainPage.js"></script>
</body>

</html>