<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koniec Kwarantanny</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script>
        //temp data receive from api
        fetch('/api/adminData')
        .then(response => {
            if (!response.ok) {
            throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
  });

    </script>
</body>
</html>